@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Sans&family=Source+Code+Pro&display=swap');
:root{
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card{
  outline: 1px solid;
}

.field {
  padding: 1em;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  
  &--computer{
    background: dodgerblue;
  }

  &--player{
    background: lightgreen;
  }
}

.choice{
  border-radius: 50%;
  max-width: 100px;
  cursor: pointer;

  img{
    max-width: 100%;
  }
}

#kalah-menang{
  padding: 1em;
  border-radius: .5em;
  text-align: center;
}
