* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  place-items: center;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 200px;
}
